      <div id="post">
        <div class="row">
          <div class="col s3">
            <strong>{{this.userid}}
              <br>
              {{this.rank}}</strong>
          </div>
          <div class="col s9">
            <p>{{this.TXT}}</p>
            <div style="width: 50%;"><img style="width: 100%;" src="{{this.imgFile}}" alt="Imagen del post" srcset="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a href="#"><i class="fas fa-comment"></i>
              <!--{{comments}}--> 23</a>
            <a href="#"><i class="fas fa-certificate"></i>
              <!--{{postPoints}} -->3</a>
          </div>
        </div>
      </div>