<div id="post">
  <div class="row">
    <div class="col s3">
      <strong>{{opid}}
        <br>
        {{opRank}} {{postDate}}</strong>
    </div>
    <div class="col s9">
      <p>{{TXT}}</p>
      <div style="width: 50%;"><img style="width: 100%;" src="{{imgFile}}" alt="Imagen del post" srcset="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#"><i class="fas fa-comment"></i>
        <!--{{comments}}--> 23</a>
      <a href="#"><i class="fas fa-certificate"></i>
        <!--{{postPoints}} -->3</a>
    </div>
  </div>
</div>
<div id="com" class="row">
  <div id="comment-data" class="col s3">
    <strong class="comments">idCommentUser
      <br>
      userRank CommentDate</strong>
      </div>
  <div class="col s9 comments"><p>Esto es un comentario ejemplar aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p></div>

</div>
<div class="row">
  <div id="comment-data" class="col s3">
    <strong class="comments">idCommentUser
      <br>
      userRank CommentDate</strong>
  </div>
  <form action="" method="post"></form>
  <div class="col s6 comments">
    <textarea name="" id="commentTXT" maxlength="300" class="comments" cols="" rows=""></textarea>
  </div>
  <div class="col s3"> <button class="btn waves-effect waves-light" id="commentbtn" type="submit">Comentar
      <i class="material-icons right">a</i>
    </button>
  </div>
</div>
<script src="../../js/post.js"></script>